<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Learn app</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" type="text/css" rel="stylesheet" />
</head>

<body>
    <div th:fragment="accounts-list">
        <!-- Nav Item - Login -->
        <div class="nav-item">
            <li id="navbutton-accounts-list">
                <div class="nav-link">
                    <i class="fas fa-fw fa-sign-in-alt"></i>
                    <span>Accounts</span>
                </div>
            </li>
        </div>

        <script type="module">
            import * as NAVBAR from "/javascript/navbar.js";
            import "/javascript/accounts/accounts-list.js";
            import "/javascript/accounts/account-types.js";

            let bodyElement = document.getElementById("accounts-list-page");
            let navButton = NAVBAR.setupNavButton(
                document.getElementById("navbutton-accounts-list"),
                bodyElement
            );
        </script>

        <template id="accounts-list-entry-template">
            <tr>
                <td id="account-info-{accountId}">
                    <a class="nav-link" href="/accounts/{accountId}" target="_blank">
                        <i class="fas fa-fw fa-sign-in-alt"></i>
                        <span>{accountId}</span>
                    </a>
                </td>
                <td>
                    {name}
                </td>
                <td>
                    {accountType}
                </td>
                <td>
                    {email}
                </td>
                <td>
                    {verified}
                </td>
            </tr>
        </template>

        <!-- Page body -->
        <div id="accounts-list-page" class="container-fluid invisible_test">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Accounts</h1>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Accounts Table
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div>
                                <label>
                                    Search:
                                    <input id="accounts-list-search-all" type="search"
                                        class="form-control form-control-sm" />
                                </label>
                                <label>
                                    First name:
                                    <input id="accounts-list-first-name" type="search"
                                        class="form-control form-control-sm" />
                                </label>
                                <label>
                                    Last name:
                                    <input id="accounts-list-last-name" type="search"
                                        class="form-control form-control-sm" />
                                </label>
                                <label>
                                    Email address:
                                    <input id="accounts-list-email" type="search"
                                        class="form-control form-control-sm" />
                                </label>
                                <label>
                                    Phone number:
                                    <input id="accounts-list-phone-number" type="search"
                                        class="form-control form-control-sm" />
                                </label>
                                <label style="vertical-align: top;">
                                    Verified:
                                    <select id="accounts-list-verified" type="checkbox"
                                        class="form-control form-control-sm">
                                        <option value="null">Select verifications status</option>
                                        <option value="true">true</option>
                                        <option value="false">false</option>
                                    </select>
                                </label>
                                <label>
                                    Account type:
                                    <select id="accounts-list-account-type" type="select"
                                        class="form-control form-control-sm account-type-select">
                                    </select>
                                </label>
                                <input id="accounts-list-submit" type="button" class="btn btn-info" value="Search" />
                            </div>
                        </div>
                    </div>
                    <table class="table" width="100%" cellspacing="0" role="grid" style="width: 100%">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Name
                                </th>
                                <th scope="col">
                                    Account Type
                                </th>
                                <th scope="col">
                                    Email
                                </th>
                                <th scope="col">
                                    Verified
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">#</th>
                                <th rowspan="1" colspan="1">Name</th>
                                <th rowspan="1" colspan="1">Account Type</th>
                                <th rowspan="1" colspan="1">Email</th>
                                <th rowspan="1" colspan="1">Verified</th>
                            </tr>
                        </tfoot>
                        <tbody id=accounts-list-table-body>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>