<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Learn app</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" type="text/css" rel="stylesheet" />
</head>

<body>
    <div th:fragment="admin-requests-list">
        <!-- Nav Item - Login -->
        <div class="nav-item">
            <li id="navbutton-admin-requests-list">
                <div class="nav-link">
                    <i class="fas fa-fw fa-sign-in-alt"></i>
                    <span>Administration requests</span>
                </div>
            </li>
        </div>

        <script type="module">
            import * as NAVBAR from "/javascript/navbar.js";
            import "/javascript/accounts/admin-requests-list.js";
            import "/javascript/accounts/administration-request-statuses.js";

            let bodyElement = document.getElementById("admin-requests-list-page");
            let navButton = NAVBAR.setupNavButton(
                document.getElementById("navbutton-admin-requests-list"),
                bodyElement
            );
        </script>

        <template id="admin-requests-list-entry-template">
            <tr>
                <td>
                    {requestId}
                </td>
                <td id="account-info-{accountId}">
                    <a class="nav-link" href="/accounts/{accountId}" target="_blank">
                        <i class="fas fa-fw fa-sign-in-alt"></i>
                        <span>{accountId}</span>
                    </a>
                </td>
                <td>
                    {requestType}
                </td>
                <td>
                    {date}
                </td>
                <td id="admin-request-{requestId}-status">
                    {status}
                </td>
                <td>
                    <button id="admin-request-{requestId}-approve" 
                            type="button" 
                            class="btn btn-success">Approve</button>
                    <button id="admin-request-{requestId}-reject" 
                            type="button" 
                            class="btn btn-danger">Reject</button>
                </td>
            </tr>
        </template>

        <!-- Page body -->
        <div id="admin-requests-list-page" class="container-fluid invisible_test">
            <!-- Page Heading -->
            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">Administration requests</h1>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Administration requests table
                    </h6>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div>
                                <label>
                                    Submission account id:
                                    <input id="admin-requests-list-submission-account-id" type="number"
                                        class="form-control form-control-sm" />
                                </label>
                                <label>
                                    Status:
                                    <select id="admin-requests-list-status" type="select"
                                        class="form-control form-control-sm admin-request-status-select">
                                    </select>
                                </label>
                                <input id="admin-requests-list-submit" type="button" class="btn btn-info" value="Search" />
                            </div>
                        </div>
                    </div>
                    <table class="table" width="100%" cellspacing="0" role="grid" style="width: 100%">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Account #
                                </th>
                                <th scope="col">
                                    Request Type
                                </th>
                                <th scope="col">
                                    Submission date
                                </th>
                                <th scope="col">
                                    Status
                                </th>
                                <th scope="col">
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">#</th>
                                <th rowspan="1" colspan="1">Account #</th>
                                <th rowspan="1" colspan="1">Request Type</th>
                                <th rowspan="1" colspan="1">Submission date</th>
                                <th rowspan="1" colspan="1">Status</th>
                                <th rowspan="1" colspan="1"></th>
                            </tr>
                        </tfoot>
                        <tbody id=admin-requests-list-table-body>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>