<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Learn app</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" type="text/css" rel="stylesheet" />
</head>

<body>
    <div th:fragment="assignments-list">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">
                Lecture assignments
            </h6>
        </div>

        <!-- Page body -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Assignments Table
                    </h6>
                </div>
                <script type="module">
                    import "/javascript/lectures/assignments-list.js";
                    import "/javascript/lectures/assignment-edit.js";
                </script>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div>
                                <label>
                                    Grade min:
                                    <input id="assignments-list-grade-min" type="number"
                                        class="form-control form-control-sm" />
                                </label>
                                <label>
                                    Grade max:
                                    <input id="assignments-list-grade-max" type="number"
                                        class="form-control form-control-sm" />
                                </label>
                                <label style="vertical-align: top;">
                                    Graded:
                                    <select id="assignments-list-graded"
                                        class="form-control form-control-sm">
                                        <option value="null">Select...</option>
                                        <option value="true">true</option>
                                        <option value="false">false</option>
                                    </select>
                                </label>
                                <input id="assignments-list-submit" type="button" class="btn btn-info" value="Search" />
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <table class="table" width="100%" cellspacing="0" role="grid" style="width: 100%">
                            <thead class="table-light">
                                <tr>
                                    <th scope="col">
                                        #
                                    </th>
                                    <th scope="col">
                                        Submission account
                                    </th>
                                    <th scope="col">
                                        Grade
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="assignments-table-body">
                            </tbody>
                        </table>
                        <template id="assignments-table-entry-template">
                            <tr>
                                <td>
                                    <div id="assignment-table-entry-{assignmentId}"
                                         class="assignments-table-entry btn btn-success"
                                         data-toggle="modal"
                                         data-target="#assignmentPage">{assignmentId}</div>
                                </td>
                                <td>
                                    <a class="nav-link" href="/accounts/{accountId}" target="_blank">
                                        <i class="fas fa-fw fa-sign-in-alt"></i>
                                        <span>{accountName}</span>
                                    </a>
                                </td>
                                <td>
                                    {grade}
                                </td>
                            </tr>
                        </template>
                        <!-- Assignment info Modal -->
                        <div class="modal fade" id="assignmentPage" tabindex="-1" role="dialog"
                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 id="assignments-table-modal-header" class="modal-title">Assignment info</h5>
                                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">×</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <button id="assignment-download" class="btn btn-success" style="margin: 1em;">
                                            Download assignment
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="input-group">
                                            <span class="input-group-text">Grade</span>
                                            <input id="assignment-grade-value" 
                                                   class="form-control"
                                                   type="number" 
                                                   th:max="${lecture.maxGrade}"
                                                   aria-label="Title">
                                        </div>
                                        <div style="text-align: -webkit-center;">
                                            <button id="assignment-grade-submit" class="btn btn-primary" style="margin: 1em;">
                                                Submit
                                            </button>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" type="button"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>

</html>