<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Login</title>

    <!-- Custom fonts for this template-->
    <link href="/theme_resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme_resources/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body>
    <div th:fragment="course-edit">
        <script th:inline="javascript">
            /*[+
            window.data["course"] = [[${course}]];
            window.data["loggedUserEmail"] = [[${loggedUser.email}]];
            +]*/
        </script>
        <div class="col-sm-12">
            <a th:id="'course-edit-button-'+${course.courseId}" class="btn btn-info" target="_blank"
               data-toggle="modal" th:data-target="'#courseEdit-'+${course.courseId}">
                Edit
            </a>
            <!-- Course edit Modal -->
            <div class="modal fade" th:id="'courseEdit-'+${course.courseId}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">Edit course</h5>
                            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-text">Title</span>
                                <input id="edit-title" type="text" aria-label="Title" class="form-control"
                                       th:value="${course.title}">
                            </div>
                        </div>
                        <div class="modal-body">
                            <script type="module">
                                import "/javascript/courses/course-topics.js"
                            </script>
                            <div class="input-group">
                                <span class="input-group-text">Topic</span>
                                <select id="edit-topic" type="text" aria-label="Title" class="form-control course-topic-select">
                                </select>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-text">Description</span>
                                <textarea id="edit-description" type="text" aria-label="Title" class="form-control"
                                          th:text="${course.courseDescription} ? ${course.courseDescription.descriptionContent} : ''"></textarea>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-text">Start Date</span>
                                <input id="edit-start-date" type="date" aria-label="Title" class="form-control"
                                       th:value="${course.startingDate}">
                            </div>
                        </div>
                        <div class="modal-body">
                            <script type="module">
                                import "/javascript/courses/course-statuses.js"
                            </script>
                            <div class="input-group">
                                <span class="input-group-text">Status</span>
                                <select id="edit-status" type="text" aria-label="Title" class="form-control course-status-select"></select>
                            </div>
                        </div>
                        <div class="modal-body">
                            <div class="input-group">
                                <span class="input-group-text">Passing grade</span>
                                <input id="edit-passing-grade" type="number" aria-label="Title" class="form-control"
                                       th:value="${course.passingGrade}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <script type="module">
                                import "/javascript/courses/course-edit.js";
                            </script>
                            <button id="edit-course-submit" class="btn btn-primary">Submit</button>
                            <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script th:inline="javascript" type="module">
            import * as coursesApi from "/javascript/api-requests/api-courses.js";
            import * as courseTopicsApi from "/javascript/api-requests/api-course-topics.js";
            import * as courseTeachers from "/javascript/api-requests/api-course-teachers.js";

            /*[+
            const courseId = [[${course.courseId}]];
            +]*/
        </script>

        <!-- Bootstrap core JavaScript-->
        <script src="/theme_resources/vendor/jquery/jquery.min.js"></script>
        <script src="/theme_resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

        <!-- Core plugin JavaScript-->
        <script src="/theme_resources/vendor/jquery-easing/jquery.easing.min.js"></script>

        <!-- Custom scripts for all pages-->
        <script src="/theme_resources/js/sb-admin-2.min.js"></script>
    </div>

</body>
</html>