<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Learn app</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" type="text/css" rel="stylesheet"/>
</head>

<body>
<div th:fragment="courses-list">
    <!-- Nav Item - Login -->
    <div class="nav-item">
        <li id="navbutton-courses-list">
            <div class="nav-link">
                <i class="fas fa-fw fa-sign-in-alt"></i>
                <span>Courses</span>
            </div>
        </li>
    </div>

    <script type="module">
        import * as NAVBAR from "/javascript/navbar.js"
        import * as COURSESLIST from "/javascript/courses/courses-list.js"

        let bodyElement = document.getElementById("courses-list-page")
        let navButton = NAVBAR.setupNavButton(
            document.getElementById("navbutton-courses-list"),
            bodyElement
        );

        COURSESLIST.getEntries();
    </script>

    <template id="courses-list-entry-template">
        <div class="row" id="course-info-{courseId}">
            <div class="col-lg-12">
                <div class="card shadow mb-4">
                    <div th:if="${loggedUser}" class="card-header py-3">
                        <a class="nav-link" href="/courses/{courseId}" target="_blank">
                            <h4 class="m-0 font-weight-bold text-primary">{title}</h4>
                        </a>
                    </div>
                    <div th:unless="${loggedUser}" class="card-header py-3">
                        <span class="nav-link">
                            <h4 class="m-0 font-weight-bold text-primary">{title}</h4>
                        </span>
                    </div>
                    <div class="card-body">
                        <h6 class="m-0 font-weight-bold text-secondary">Topic: {topic}</h6>
                        <h6 class="m-0 font-weight-bold text-secondary">Teacher: {teacherName}</h6>
                        <h6 class="m-0 font-weight-bold text-secondary">Course rating: {rating}</h6>
                        <br>
                        {description}
                    </div>
                </div>
            </div>
        </div>
    </template>

    <!-- Page body -->
    <div id="courses-list-page" class="container-fluid invisible_test">
        <!-- Page Heading -->
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Courses</h1>
        </div>

        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Available Courses</h6>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                        <div class="row">
                            <div class="col-sm-12 col-md-10">
                                <div id="dataTable_filter" class="dataTables_filter">
                                    <label>
                                        Search:
                                        <input id="courses-list-search-all" type="search"
                                               class="form-control form-control-sm" placeholder="">
                                    </label>
                                    <label>
                                        Topic:
                                        <select id="courses-list-topics" type="select"
                                                class="form-control form-control-sm course-topic-select">
                                        </select>
                                    </label>
                                    <label>
                                        Teacher:
                                        <select id="courses-list-teachers" type="select"
                                                class="form-control form-control-sm course-teacher-select">
                                        </select>
                                    </label>
                                    <label>
                                        Rating:
                                        <select id="courses-list-ratings" type="select"
                                                class="form-control form-control-sm course-rating-select">
                                        </select>
                                    </label>
                                    <label>
                                        My courses
                                        <input type="checkbox" class="custom-checkbox"
                                               id="courses-list-enrolled-account">
                                    </label>
                                    <input id="courses-list-submit" type="button" class="btn btn-primary" placeholder=""
                                           value="Search"/>
                                </div>
                            </div>
                        </div>
                        <div id="courses-list-div-body">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

</html>
