<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Lecture Edit</title>

    <!-- Custom fonts for this template-->
    <link href="/theme_resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme_resources/css/sb-admin-2.min.css" rel="stylesheet">

</head>
<body>
<div th:fragment="lecture-edit">
    <script th:inline="javascript">
        /*[+
        window.data["lecture"] = [[${lecture}]];
        window.data["loggedUserEmail"] = [[${loggedUser.email}]];
        +]*/
    </script>
    <div class="col-sm-12">
        <a th:id="'lecture-edit-button-'+${lecture.lectureId}" class="btn btn-info" target="_blank"
           data-toggle="modal" th:data-target="'#lectureEdit-'+${lecture.lectureId}">
            Edit
        </a>
        <!-- Course edit Modal -->
        <div class="modal fade" th:id="'lectureEdit-'+${lecture.lectureId}" tabindex="-1" role="dialog"
             aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Edit lecture</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-text">Title</span>
                            <input id="edit-lecture-title" type="text" aria-label="Title" class="form-control"
                                   th:value="${lecture.title}">
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-text">Description</span>
                            <textarea id="edit-lecture-description" type="text" aria-label="Description" class="form-control"
                                      th:text="${lecture.lectureDescription} ? ${lecture.lectureDescription.descriptionContent} : ''"></textarea>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-text">Max grade</span>
                            <input id="edit-lecture-max-grade" type="number" aria-label="Max grade" class="form-control"
                                   th:value="${lecture.maxGrade}">
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="input-group">
                            <span class="input-group-text">Video link</span>
                            <input id="edit-lecture-video-link" type="text" aria-label="Video link" class="form-control"
                                   th:value="${lecture.videoLink}">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <script type="module">
                            import "/javascript/lectures/lecture-edit.js";
                        </script>
                        <button id="edit-lecture-submit" class="btn btn-primary">Submit</button>
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script th:inline="javascript" type="module">
        import * as lecturesApi from "/javascript/api-requests/api-lectures.js";

        /*[+
        const lectureId = [[${lecture.lectureId}]];
        +]*/
    </script>

    <!-- Bootstrap core JavaScript-->
    <script src="/theme_resources/vendor/jquery/jquery.min.js"></script>
    <script src="/theme_resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/theme_resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/theme_resources/js/sb-admin-2.min.js"></script>
</div>

</body>
</html>