<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learn app</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <div class=login_page>
        
    </div>
</body>
</html>