<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Learn app</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" type="text/css" rel="stylesheet" />
</head>

<body>
    <div th:fragment="register">
        <!-- Nav Item - Register -->
        <div class="nav-item">
            <li id="navbutton-register">
                <div class="nav-link">
                    <i class="fas fa-fw fa-sign-in-alt"></i>
                    <span>Register</span>
                </div>
            </li>
        </div>

        <script type="module">
            import * as NAVBAR from "/javascript/navbar.js";
            import "/javascript/accounts/register.js";

            let bodyElement = document.getElementById("register-page");
            let navButton = NAVBAR.setupNavButton(
                document.getElementById("navbutton-register"),
                bodyElement
            );
        </script>

        <!-- Page body -->
        <div id="register-page" class="container-fluid justify-content-center invisible_test">
            <div class="card o-hidden border-0 shadow-lg my-5 col-lg-8 mx-auto">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>
                                <form class="user">
                                    <div class="form-group row">
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input id="register-first-name" type="text"
                                                class="form-control form-control-user" placeholder="First Name">
                                        </div>
                                        <div class="col-sm-6">
                                            <input id="register-last-name" type="text"
                                                class="form-control form-control-user" placeholder="Last Name">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input id="register-email" type="email" class="form-control form-control-user"
                                            placeholder="Email Address">
                                    </div>
                                    <div class="form-group row">
                                        <datalist id="register-account-type-list">
                                        </datalist>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input id="register-account-type" type="text"
                                                class="form-control form-control-user" 
                                                placeholder="Account type" 
                                                list="register-account-type-list"
                                                style="text-align: center;">
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
                                            <input id="register-phone-number" type="tel"
                                                class="form-control form-control-user" 
                                                placeholder="Phone number">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-sm-12 mb-3 mb-sm-0">
                                            <input id="register-password" type="password"
                                                class="form-control form-control-user" placeholder="Password">
                                        </div>
                                    </div>
                                    <button id="register-submit" class="btn btn-primary btn-user btn-block">
                                        Register Account
                                    </button>
                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small" th:href="@{/login}">Already have an account? Login!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>