:defined {
    --button-background-color: rgba(0, 0, 139, 0.1);
    --background-shade: rgba(0, 0, 0, 0.05);
    --screen-overlay: rgba(0, 0, 0, 0.4);
}

div p {
    text-align: center;
}

body {
    grid-column: unset;
    font-family: monospace;
    text-align: center;
}

a, label {
    text-decoration: none;
    color: darkblue;
}

.error {
    color: red;
}

.title {
    color: darkblue;
    font-size: 10em;

    text-shadow: 0.02em 0.03em grey;
    align-items: center;

    padding: 0.5em;
}

.body_width_7 {
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}

.body_width_5 {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}

.screen_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: var(--screen-overlay);
}

.buttons {
}

.buttons :hover {
    background-color: rgba(0, 0, 139, 0.15);
    cursor: pointer;
}

.buttons :active {
    background-color: rgba(0, 0, 139, 0.2);
}

.buttons_remove :hover {
    background-color: rgb(255, 0, 0);
    cursor: pointer;
}

.buttons_remove :active {
    background-color: rgb(255, 0, 0);
}

.table_section, .parcel_section {
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
    text-align: -webkit-center;
}

.section_title {
    display: inline-block;
    margin: 1em;
    margin-top: 2em;
    margin-bottom: 0.7em;
    color: darkblue;
    font-size: 2em;
}

.form_options {
    text-align: center;
    margin-top: 0.5em;
}

label:hover {
    text-decoration: underline;
}

.invisible_checkbox {
    display: none;
}

.checkbox_menu {
    display: flow-root;
    margin: 1.5em;
    padding: 0.5em;

    outline-color: darkblue;
    outline-style: solid;
    background-color: white;
}

input[type="checkbox"]:not(:checked) ~ .checkbox_menu {
    outline-color: red;
}

.link_body {
    padding: 0.5em;
    margin: 1em;
    border-bottom-right-radius: 0.7em;
    border-top-style: solid;
    border-top-left-radius: 0.7em;
    border-width: 0.2em;
    background-color: rgba(0, 0, 139, 0.1);
    font-size: larger;
    font-weight: bold;
}

.link_remove_body {
    padding: 0.5em;
    margin: 1em;
    border-bottom-right-radius: 0.7em;
    border-top-style: solid;
    border-top-left-radius: 0.7em;
    border-width: 0.2em;
    background-color: rgba(255, 0, 0, 0.31);
    font-size: larger;
    font-weight: bold;
}

.outline {
    outline-color: rgba(0, 0, 139, 0.7);
    outline-style: solid;
}

.grid_define {
    display: grid;
    grid-auto-flow: column;
}

.grid_block {
    display: block;
    color: darkblue;
    padding: 1em;
    align-self: center;
}

.input_block {
    color: darkblue;
    padding: 0.2em;
    font-weight: bold;
    font-size: large;
    text-align: center;
}

.input_block > input[type=text],
.input_block > input[type=number],
.input_block > input[type=email],
.input_block > input[type=password],
.input_block > input[type=datetime-local],
.input_block > select {
    width: 90%;
    max-width: 20em;
    margin: 0.5em;
}

.grid_section {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2em;

    margin-left: 2em;
    margin-right: 2em;

    text-align: center;
}

.grid_section_block {
    padding: 1em;
    background-color: rgba(0, 0, 170, 0.02);
}

.login_block {
    position: relative;
}

.login_form {
    position: absolute;
    right: 0;

    display: flow-root;
    margin: 1.5em;
    padding: 0.5em;

    outline-color: darkblue;
    outline-style: solid;
    background-color: white;
}

input[type="checkbox"]:not(:checked) ~ .login_form {
    display: none;
}

.hover_menu {
    display: grid;
    grid-auto-flow: row;
    grid-row-gap: 0.4em;
    position: absolute;

    outline-color: darkblue;
    outline-style: solid;
    background-color: white;

    margin: 1.5em;
    padding: 0.5em;

    visibility: hidden;
    top: 12%;
}

.hover_menu:hover,
a:hover + .hover_menu,
label:hover + .hover_menu,
div:hover + .hover_menu {
    visibility: visible;
    z-index: 1;
}

.hover_menu p {
    color: black;
}

.hover_menu label {
    text-decoration: none;
    cursor: default;
}

.customer_count {
    border: 2px solid rgba(0, 0, 139, 0.2);
    border-radius: 40px;
    height: auto;
    width: 60%;
    padding: 10px;
    font-size: 25px;
    position: absolute;
    align-items: center;
    margin-left: 20%;
    margin-right: 15%;
    color: darkblue;
    background-color: white;
    box-shadow: 0.15em 0.15em 0.2em 0.0em rgba(0, 0, 139, 0.2);
}
