<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="'Profile ' + ${account.firstName}"></title>

    <!-- Custom fonts for this template-->
    <link href="/theme_resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme_resources/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>
    <script th:inline="javascript">
        window.data = {};
        /*[+
        window.data["loggedUserEmail"] = [[${loggedUser.email}]];
        +]*/
    </script>
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">
                </nav>
                <script type="module" th:inline="javascript">
                    import * as ACCOUNTS from "/javascript/accounts/accounts.js";
                    /*[+
                    ACCOUNTS.setupProfilePicture([[${account.accountId}]], document.getElementById("profile-picture-big"));
                    +]*/
                </script>
                <div th:id="'profile-info-page-'+${account.accountId}" class="container-fluid invisible_test">
                    <!-- Page body -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Profile page</h1>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Account information</h6>
                        </div>
                        <div class="card-body">

                            <div class="row gutters-sm">
                                <div class="col-md-4 mb-3">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex flex-column align-items-center text-center">
                                                <img id="profile-picture-big"
                                                    src="/theme_resources/img/undraw_profile.svg" alt="Admin"
                                                    class="rounded-circle" width="150" height="150">
                                                <div class="mt-3">
                                                    <p id="info-account-type" class="text-secondary mb-1"
                                                        th:text="${account.accountType.name}">
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-8">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">First Name</h6>
                                            </div>
                                            <div id="info-first-name" class="col-sm-8 text-secondary" th:text="${account.firstName}"></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Last Name</h6>
                                            </div>
                                            <div id="info-last-name" class="col-sm-8 text-secondary" th:text="${account.lastName}"></div>
                                        </div>
                                        <hr>
                                        <div class="row" th:if="${loggedUser.accountId == account.accountId} or ${loggedUser.isAdmin()}">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Email</h6>
                                            </div>
                                            <div id="info-last-email" class="col-sm-8 text-secondary" th:text="${account.email}"></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Mobile</h6>
                                            </div>
                                            <span id="info-phone-number" class="col-sm-8 text-secondary" th:text="${account.phoneNumber}"></span>
                                        </div>
                                        <hr>
                                        <div th:if="${loggedUser.accountId == account.accountId} or ${loggedUser.isAdmin()}" class="row">
                                            <div th:replace="fragments/account-edit.html :: account-edit"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="(${loggedUser.accountId == account.accountId} or ${loggedUser.isAdmin()}) and (${adminRequests} and ${adminRequests.size() > 0})" 
                class="card shadow" style="margin: 1.6em;">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">
                        Administration requests
                    </h6>
                </div>
                <div class="card-body">
                    <table class="table" width="100%" cellspacing="0" role="grid" style="width: 100%">
                        <thead class="table-light">
                            <tr>
                                <th scope="col">
                                    #
                                </th>
                                <th scope="col">
                                    Request Type
                                </th>
                                <th scope="col">
                                    Submission date
                                </th>
                                <th scope="col">
                                    Status
                                </th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th rowspan="1" colspan="1">#</th>
                                <th rowspan="1" colspan="1">Request Type</th>
                                <th rowspan="1" colspan="1">Submission date</th>
                                <th rowspan="1" colspan="1">Status</th>
                            </tr>
                        </tfoot>
                        <tbody id=admin-requests-list-table-body>
                            <tr th:each="request : ${adminRequests}">
                                <td th:text=${request.requestId}></td>
                                <td th:text=${request.administrationRequestType.name}></td>
                                <td th:text="${request.creationDate}"></td>
                                <td th:text="${request.status.name}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/theme_resources/vendor/jquery/jquery.min.js"></script>
    <script src="/theme_resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/theme_resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/theme_resources/js/sb-admin-2.min.js"></script>

</body>

</html>