<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Course info</title>

    <!-- Custom fonts for this template-->
    <link href="/theme_resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme_resources/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>
    <script th:inline="javascript">
        window.data = {};
    /*[+
        window.data["loggedUser"] = [[${loggedUser}]];
        window.data["loggedUserEmail"] = [[${loggedUser.email}]];
        window.data["course"] = [[${course}]];
        +]*/
    </script>
    <div id="wrapper">
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">
                </nav>
                <div th:id="'course-info-page-'+${course.courseId}" class="container-fluid invisible_test">
                    <!-- Page body -->
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Course details</h1>
                    </div>

                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Course information</h6>
                        </div>
                        <div class="card-body">

                            <div class="row gutters-sm">
                                <div class="col-8">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Title</h6>
                                            </div>
                                            <div id="info-course-title" class="col-sm-8 text-secondary"
                                                th:text="${course.getTitle()}">
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Topic</h6>
                                            </div>
                                            <div id="info-course-topic" class="col-sm-8 text-secondary"
                                                th:text="${course.getTopic().getName()}"></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Teacher</h6>
                                            </div>
                                            <div id="info-course-teacher" class="col-sm-8 text-secondary" th:text="${course.getOwnerAccount().getFirstName()}
                                             + ' '
                                             + ${course.getOwnerAccount().getLastName()}"></div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Description</h6>
                                            </div>
                                            <span id="info-course-description" class="col-sm-8 text-secondary"
                                                th:if="${course.getCourseDescription()}"
                                                th:text="${course.getCourseDescription().getDescriptionContent()}"></span>
                                            <span id="info-course-description" class="col-sm-8 text-secondary"
                                                th:unless="${course.getCourseDescription()}">No description</span>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Starting date</h6>
                                            </div>
                                            <span id="info-course-starting-date" class="col-sm-8 text-secondary"
                                                th:text="${course.getStartingDate()}"></span>
                                        </div>
                                        <div th:if="${loggedUser.isTeacher()}">
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Status</h6>
                                                </div>
                                                <span id="info-course-status" class="col-sm-8 text-secondary"
                                                    th:text="${course.getStatus().getName()}"></span>
                                            </div>
                                        </div>
                                        <div th:unless="${canEnroll}">
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Course grade</h6>
                                                </div>
                                                <span id="info-course--grade" class="col-sm-8 text-secondary"
                                                    th:text="${courseGrade}"></span>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Passing grade</h6>
                                            </div>
                                            <span id="info-course-passing-grade" class="col-sm-8 text-secondary"
                                                th:text="${course.getPassingGrade()}"></span>
                                        </div>
                                        <hr>
                                        <div th:if="${canRate}">
                                            <div class="row">
                                                <script type="module">
                                                    import "/javascript/courses/course-rating-create.js";
                                                    import "/javascript/courses/course-ratings.js";
                                                </script>
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Rate this course</h6>
                                                </div>
                                                <div class="col-sm-3">
                                                    <select id="courses-list-ratings" type="select"
                                                        class="form-control form-control-sm course-rating-select">
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <button id="course-rating-submit" type="submit"
                                                        class="btn btn-primary">Submit</button>
                                                </div>
                                            </div>
                                            <hr>
                                        </div>
                                        <div th:if="${hasRated}">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <h6 class="mb-0">Given rating</h6>
                                                </div>
                                                <span class="col-sm-8 text-secondary" th:text="${rating}"></span>
                                            </div>
                                            <hr>
                                        </div>
                                        <div class="row">
                                            <div th:if="${loggedUser.isTeacher()}">
                                                <div th:replace="fragments/course-edit.html :: course-edit"></div>
                                            </div>
                                            <div th:if="${canEnroll}">
                                                <a id="enroll-course" class="btn btn-success" target="_blank">Enroll</a>
                                                <script type="module">
                                                    import * as accountsApi from "/javascript/api-requests/api-accounts.js"

                                                    let enrollCourseButton = document.getElementById("enroll-course");
                                                    enrollCourseButton.addEventListener("click", enrollCourse);

                                                    async function enrollCourse(event) {
                                                        let result = await accountsApi.enrollCourse(window.data["loggedUser"]["accountId"], window.data["course"]["courseId"]);

                                                        if (result.ok) {
                                                            alert("Enrollment successful!");
                                                            window.location.replace(window.location.href);
                                                        } else {
                                                            alert("There was an issue enrolling in the course.");
                                                        }
                                                    }
                                                </script>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div
                    th:if="${loggedUser} and (${loggedUser.getCourseSet().contains(course)} or ${loggedUser.isTeacher()})">
                    <div id="course-lectures" class="container-fluid invisible_test">
                        <!-- Page body -->
                        <div id="lectures-list-page" class="container-fluid invisible_test">
                            <!-- Page Heading -->
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Lectures</h1>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Lectures Table
                                    </h6>
                                </div>
                                <div class="card-body">
                                    <table class="table" width="100%" cellspacing="0" role="grid" style="width: 100%">
                                        <thead class="table-light">
                                            <tr>
                                                <th scope="col">
                                                    Title
                                                </th>
                                                <th scope="col">
                                                    Max grade
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id=lectures-list-table-body th:each="lecture : ${lectures}">
                                            <tr>
                                                <td th:id="'lecture-info-page-'+${lecture.lectureId}">
                                                    <a class="nav-link" target="_blank"
                                                        th:href="@{/lectures/{lectureId}(lectureId = ${lecture.getLectureId()})}">
                                                        <i class="fas fa-fw fa-sign-in-alt"></i>
                                                        <span th:text="${lecture.getTitle()}"></span>
                                                    </a>
                                                </td>
                                                <td th:text="${lecture.getMaxGrade()}"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div th:if="${loggedUser.isTeacher()}">
                                        <div th:replace="fragments/lecture-create.html :: lecture-create"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End of Main Content -->

        </div>
        <!-- End of Content Wrapper -->
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/theme_resources/vendor/jquery/jquery.min.js"></script>
    <script src="/theme_resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/theme_resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/theme_resources/js/sb-admin-2.min.js"></script>

</body>

</html>