<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Virtual Teacher</title>

    <!-- Custom fonts for this template-->
    <link href="/theme_resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme_resources/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="/testsheet.css" rel="stylesheet">

</head>

<body id="page-top">
    <script th:if="${loggedUser}" th:inline="javascript">
        window.data = {};
        /*[+
        window.data["loggedUserEmail"] = [[${loggedUser.email}]];
        window.data["loggedUser"] = [[${loggedUser}]];
        +]*/
    </script>

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" th:href="@{/}">
                <!-- <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div> -->
                <div class="sidebar-brand-text mx-3">Virtual Teacher<sup>tm</sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Login -->
            <div th:unless="${loggedUser}" class="nav-item">
                <li id="nav-item-logout">
                    <a class="nav-link" th:href="@{/login}">
                        <i class="fas fa-fw fa-sign-in-alt"></i>
                        <span>Login</span>
                    </a>
                </li>
            </div>

            <!-- Nav Item - Register -->
            <div th:unless="${loggedUser}" class="nav-item">
                <div th:replace="fragments/register.html :: register"></div>
            </div>

            <!-- Nav Item - Logout -->
            <div th:if="${loggedUser}" class="nav-item">
                <li id="nav-item-logout">
                    <a class="nav-link" th:href="@{/logout}">
                        <i class="fas fa-fw fa-sign-out-alt"></i>
                        <span>Logout</span>
                    </a>
                </li>
            </div>

            <div th:if="${loggedUser} and ${loggedUser.isAdmin()}">
                <div th:replace="fragments/accounts-list.html :: accounts-list"></div>
                <div th:replace="fragments/admin-requests-list.html :: admin-requests-list"></div>
            </div>

            <!-- Nav Item - Courses List -->
            <div th:replace="fragments/courses-list.html :: courses-list"></div>
            <div th:if="${loggedUser} and ${loggedUser.isTeacher()}">
                <div th:replace="fragments/course-create.html :: course-create"></div>
            </div>
            <!-- Sidebar Toggler (Sidebar) -->
            <div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>

        </ul>
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                        <!-- Nav Item - Search Dropdown (Visible Only XS) -->
                        <li class="nav-item dropdown no-arrow d-sm-none">
                            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-search fa-fw"></i>
                            </a>
                            <!-- Dropdown - Messages -->
                            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                                aria-labelledby="searchDropdown">
                                <form class="form-inline mr-auto w-100 navbar-search">
                                    <div class="input-group">
                                        <input type="text" class="form-control bg-light border-0 small"
                                            placeholder="Search for..." aria-label="Search"
                                            aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-primary" type="button">
                                                <i class="fas fa-search fa-sm"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </li>

                        <div th:if="${loggedUser}" class="topbar-divider d-none d-sm-block"></div>
                        
                        <!-- Nav Item - User Information -->
                        <li th:if="${loggedUser}" class="nav-item no-arrow">
                            <a class="nav-link" 
                                th:href="@{/accounts/{accountId}(accountId=${loggedUser.accountId})}"
                                target="_blank"
                                role="button">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small"
                                    th:text="${loggedUser.firstName} + ' ' + ${loggedUser.lastName}">Douglas
                                    McGee</span>
                                <img id="profile-picture" class="rounded-circle" width="40" height="40"
                                    src="/theme_resources/img/undraw_profile.svg">
                            </a>
                            <script type="module">
                                import * as ACCOUNTS from "/javascript/accounts/accounts.js";

                                ACCOUNTS.setupProfilePicture(window.data["loggedUser"]["accountId"], document.getElementById("profile-picture"));
                            </script>
                        </li>
                    </ul>

                </nav>
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="login.html">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap core JavaScript-->
    <!--invalid /theme_resources/vendor/jquery/jquery.min.js -->
    <script src="/theme_resources/vendor/jquery/jquery.min.js"></script>
    <script src="/theme_resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/theme_resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/theme_resources/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="/theme_resources/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    <script src="/theme_resources/js/demo/chart-area-demo.js"></script>
    <script src="/theme_resources/js/demo/chart-pie-demo.js"></script>

</body>

</html>