<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title th:text="${lecture.title}"></title>

    <!-- Custom fonts for this template-->
    <link href="/theme_resources/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="/theme_resources/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body>
<script th:inline="javascript">
    window.data = {};
    /*[+
    window.data["loggedUser"] = [[${loggedUser}]];
    window.data["loggedUserEmail"] = [[${loggedUser.email}]];
    window.data["lecture"] = [[${lecture}]];
    +]*/
</script>
<div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
            <nav class="navbar navbar-expand navbar-light topbar mb-4 static-top">
            </nav>
            <div th:id="'lecture-info-page-'+${lecture.lectureId}" class="container-fluid invisible_test">
                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1 class="h3 mb-0 text-gray-800" th:text="${lecture.title}"></h1>
                </div>
                <div class="card shadow mb-4">
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Lecture information</h6>
                    </div>
                    <div class="card-body">
                        <div class="row gutters-sm">
                            <div class="col-12">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Title</h6>
                                        </div>
                                        <div id="info-course-title" class="col-sm-8 text-secondary"
                                            th:text="${lecture.getTitle()}">
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Description</h6>
                                        </div>
                                        <span id="info-lecture-description" class="col-sm-8 text-secondary"
                                            th:if="${lecture.getLectureDescription()}"
                                            th:text="${lecture.getLectureDescription().getDescriptionContent()}"></span>
                                        <span id="info-lecture-description" class="col-sm-8 text-secondary"
                                            th:unless="${lecture.getLectureDescription()}">No description</span>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <h6 class="mb-0">Max grade</h6>
                                        </div>
                                        <span id="info-lecture-max-grade" class="col-sm-8 text-secondary"
                                            th:text="${lecture.getMaxGrade()}"></span>
                                    </div>
                                    <div th:if=${isEnrolled}>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Grade</h6>
                                            </div>
                                            <span id="info-lecture-grade" class="col-sm-8 text-secondary"
                                                th:text="${assignment.getGrade()} ? ${assignment.getGrade()} : 'Not graded'"></span>
                                        </div>
                                    </div>
                                    <div th:if="${isEnrolled}">
                                        <script type="module" th:inline="javascript">
                                            /*[+
                                            window.data["assignment"] = [[${assignment}]];
                                            +]*/
                                        </script>
                                        <hr>
                                        <div class="row">
                                            <div class="col-sm-3">
                                                <h6 class="mb-0">Assignment file</h6>
                                            </div>
                                            <div div th:unless="${assignmentGraded}" class="col-sm-6 text-secondary">
                                                <script type="module">
                                                    import "/javascript/lectures/assignment-upload.js";
                                                </script>
                                                <input type="file" accept=".txt" id="assignment-upload" class="col-sm-6">
                                                <label id="assignment-upload-label" class="col-sm-6 custom-file-label"
                                                    for="assignment-upload">
                                                    Choose file
                                                </label>
                                                <button id="assignment-upload-button" class="col-sm-5 btn btn-success">
                                                    Upload
                                                </button>
                                            </div>
                                            <div class="col-sm-3 text-secondary">
                                                <script type="module">
                                                    import * as assignmentsApi from "/javascript/api-requests/api-assignments.js";
                                                    import * as helpers from "/javascript/helpers.js";
                                                    
                                                    document.getElementById("assignment-download-button").addEventListener("click", downloadAssignment);

                                                    async function downloadAssignment(event) {
                                                        let result = await assignmentsApi.getFile(window.data["assignment"]["assignmentId"]);

                                                        if (!result.ok) {
                                                            alert("No assignment file located.");
                                                            return;
                                                        }

                                                        let file = await result.blob();
                                                        helpers.downloadFile(file, "assignment", "txt");
                                                    }

                                                </script>
                                                <button id="assignment-download-button" class="col-sm-12 btn btn-success">
                                                    Download
                                                </button>
                                            </div>
                                        </div>
                                    </div>

                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div th:if="${loggedUser.isTeacher()}">
                                            <div th:replace="fragments/lecture-edit.html :: lecture-edit"></div>
                                        </div>
                                        <div th:replace="fragments/lecture-video-modal.html :: lecture-video-modal">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div th:if="${loggedUser.isTeacher()}">
                <div th:replace="fragments/assignments-list.html :: assignments-list"></div>
            </div>
            </div>
            <!-- End of Main Content -->
        </div>
    </div>
    <!-- End of Main Content -->

    </div>
    <!-- End of Content Wrapper -->
    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="/theme_resources/vendor/jquery/jquery.min.js"></script>
    <script src="/theme_resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/theme_resources/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/theme_resources/js/sb-admin-2.min.js"></script>

</body>

</html>