<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Learn app</title>
    <link href="../static/stylesheet.css" th:href="@{/stylesheet.css}" type="text/css" rel="stylesheet"/>
</head>
<body>
    <h2 th:if="${error}" th:text="${error}"></h2>
    <h3 th:text="${message}"></h3>
</body>
</html>
