.button_min {
    transition: 0.25s;
    border-style: solid;
    border-color: darkblue;
    border-width: 0.25em;
    text-align: center;
    margin: 0.4em;
    padding: 0.2em;
    padding-left: 0.7em;
    padding-right: 0.7em;
    display: inline-block;
    font-size: 0.7em;
    cursor: pointer;
    background-color: white;
}

.button_min:hover {
    transition: 0.25s;
    border-left-color: whitesmoke;
    border-top-color: whitesmoke;
    box-shadow: 0.15em 0.15em 0.2em 0.0em darkblue;
}
