:defined {
    --submit-button: rgba(179, 249, 212, 1);
    --submit-button-shadow: rgba(149, 219, 182, 1);
    --submit-button-active: rgba(130, 255, 190, 1);

    --attention-button: rgba(255, 186, 186, 1);
    --attention-button-shadow: rgba(205, 136, 136, 0.5);
    --attention-button-active: rgba(255, 136, 136, 1);
}

input.form_submit, input[type="submit"], .green_button {
    position: relative;
    border-radius: 10%;
    margin: 0.7em;
    transition: 0.2s;
    padding: 0.5em;
    background-color: var(--submit-button);
    border-style: none;
    box-shadow: 0 0 0 0.2em var(--submit-button-shadow);
}

input.form_submit:hover, input[type="submit"]:hover, .green_button:hover {
    transition: 0.2s;
    box-shadow: 0 0 0 0.4em var(--submit-button-active);
}

input.form_reset, input[type="reset"], .red_button {
    border-radius: 10%;
    margin: 0.7em;
    transition: 0.2s;
    padding: 0.5em;
    background-color: var(--attention-button);
    border-style: none;
    box-shadow: 0 0 0 0.2em var(--attention-button-shadow);
}

input.form_reset:hover, input[type="reset"]:hover, .red_button:hover {
    transition: 0.2s;
    box-shadow: 0 0 0 0.4em var(--attention-button-active);
}

.pop-out-dropdown {
    display: block;
    margin: 1.5em;
    padding: 0.5em;
    outline-style: solid;
    background-color: white;
    outline-color: darkblue;
    position: absolute;
    right: -7em;
    top: -1.2em;
}

.dropdown_div {
    overflow: hidden;
    border-style: solid;
    border-color: darkblue;
    display: none;
    background-color: white;
    padding: 1em;
    position: absolute;
    z-index: 1;
}

.invalid_input {
    border-style: solid;
    border-color: red;
    border-width: 0.1em;
}

.info_grid_rows {
    display: grid;
    grid-auto-flow: row;
    row-gap: 0.5em;
    padding: 1em;
}

.info_block {
    font-size: 1.2em;
}

.info_block div {
    display: inline-block;
    width: 45%;
    float: left;
    text-align: right;
    color: darkblue;
    font-weight: bold;
    margin-right: 5%;
}

.info_block p {
    margin: 0;
    text-align: left;
    display: flex;
}
