#navbar {
    display: inline-block;
    width: 30%;
    max-width: 15em;
    border-style: solid;
    float: left;
}

.navbutton {
    outline-style: dashed;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    padding: 0.8em;
    margin: 0.6em;
}

.navbutton p {
    text-align: left;
    margin: 0;
}

.navbutton:hover {
    transition: 0.2s;
    background-color: var(--button-background-color);
}

.top_bar_button {
    position: fixed;
    padding: 0.4em;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(220, 230, 220, 1);
    height: 4em;
    width: 4em;
}

.top_bar {
    position: relative;
    display: grid;
    vertical-align: top;
}

input[type="checkbox"]:checked + .navbar {
    transition: top 0.2s;
    top: -100em;
}

.navbar {
    transition: top 0.2s;
    padding: 1em;
    padding-left: 6em;
    padding-top: 1.5em;
    background-color: rgba(220, 230, 220, 1);
    position: fixed;
    display: inline;
    margin-top: 0.4em;
    float: left;
    top: -1em;
    left: 0;
    z-index: 1;
}

.nav_button {
    transition: 0.2s;
    display: inline-block;
    color: darkblue;
    font-size: 3em;

    padding: 0.15em;
    margin: 0.1em;

    border-color: darkblue;
    border-bottom-style: solid;
    border-right-style: solid;
    border-width: thick;
    border-bottom-left-radius: 10%;

    background-color: var(--background-shade);
}

.nav_button:hover {
    transition: 0.2s;
    background-color: var(--button-background-color);
}

.user_info {
    margin: 1em;
    padding: 0.5em;

    display: grid;
    grid-auto-flow: column;
    column-gap: 1em;

    text-align: center;
    place-items: center;

    border-color: rgba(0, 0, 139, 0.1);
    border-style: solid;

    float: right;
}

.icon_image {
    vertical-align: top;

    height: 4em;
    width: 4em;
}

.user_name {
    display: block;
    vertical-align: bottom;
}

.user_button {
    font-size: 1.5em;
}

.user_button + input {
    display: none;
}
