td p {
    margin: 0;
}

.entities_table, .parcels_table {
    border-collapse: collapse;
    width: 100%;

    border: rgba(0, 0, 139, 1);
}

.warehouses_table {
    border-collapse: collapse;

    border: rgba(0, 0, 139, 1);

    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}


.column_headers {
    border: rgba(0, 0, 139, 1);
    border-style: solid;

    font-size: 1.6em;

    margin-bottom: 0.2em;
}

.column_header_item {
    border-right: rgba(0, 0, 139, 0.6);
    border-left: rgba(0, 0, 139, 0.6);

    padding: 0.2em;
}

#column_header_id {
    background-color: rgba(0, 0, 139, 0.1);
}

.row {
    font-size: 1.2em;

    text-align: center;
    border: rgba(0, 0, 139, 0.6);
}

.row_item {
    position: relative;
    border: rgba(0, 0, 139, 1);
    border-bottom-style: solid;
    border-bottom-color: antiquewhite;
}

.row_item_id {
    height: 100%;
    background-color: rgba(0, 0, 139, 0.05);
    border: rgba(0, 0, 139, 1);
    border-right-style: solid;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 139, 0.2);
}

.table_link_body {
    color: darkblue;
    padding: 0.5em;
    background-color: rgba(0, 0, 139, 0.1);
}

.table_link_body:hover + .warehouse_hover_block {
    display: inline;
    visibility: visible;
}